.news-banner {
  background: url(../../images/banners/news.jpeg);
  background-size: cover;
}

.article-index-card {
  max-width: 600px;
  margin: 2em auto;
  display: flex;
  background: $eggshell;

  &:hover {
    box-shadow: 0 0 10px $primary_blue;
  }

  .article-image {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 50%;

    img {
      max-width: 80%;

    }
  }

  .article-overview {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 50%;

    .article-title {
      margin: 15px 0 5px 0;
      text-transform: uppercase;
    }
  }
}