.expedition-show {
  max-width: 800px;
  width: 95%;
  margin: 0 auto;

  .join-btn.btn.block-btn {
    margin-top: 50px;
    width: 300px;
  }

  .social-icon-row {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
  }
}