.is-2-column {
  column-count: 2;
  column-gap: 50px;

  & > div {
    break-inside: avoid;
  }
}

.info-label {
  text-transform: uppercase;
  color: $primary_dark;
  font-size: 80%;
  margin-bottom: 0;
}

.navbar .nav.navbar-nav li a.active {
  text-decoration: underline;
}