$nav_height: 60px;

//typography
$strong_text: 'Boycott', 'Roboto', sans-serif;
$regular_text: 'Rubik', serif;

//colours
//$brand_dark: #242120;
$brand_dark: #2e2e34;
$brand_red: #A62931;
$brand_alt_red: #BF3037;// Body
$brand_bright_red: #FF4D4D;
$body-bg: transparent;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Rubik", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: indianred;
$navbar-inverse-bg: indianred;
$navbar-inverse-color: #fff;
$navbar-inverse-link-active-color: #fff;
$navbar-inverse-link-color: #fff;
$navbar-border-radius: 0;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//colours

$primary_blue: #81CDBC;
$primary_dark: #40333E;
$soft_purple: #645258;
$primary_red: #EF6060;
$white: #ffffff;
$danger: #ff4850;
$text_grey: #888;
$eggshell: #f4fbfd;
